:root {
  font-family: Roboto;
  line-height: 1.5;
  color: #fff;
  background-color: #fff;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 30vw 30vw 30vw;
  gap: 20px;
}

.container__element {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-size: 64px;
  animation: change 1.5s infinite;
}

.el_2 {
  grid-row: 3/4;
  grid-column: 1/2;
  animation-delay: 0.1s;
}

.el_3 {
  grid-row: 2/3;
  grid-column: 2/3;
  animation-delay: 0.5s;
}

.el_4 {
  grid-row: 3/4;
  grid-column: 2/3;
  animation-delay: 0.3s;
}

.el_5 {
  grid-row: 2/3;
  grid-column: 3/4;
  animation-delay: 0.4s;
}

.el_6 {
  grid-row: 1/2;
  grid-column: 3/4;
  animation-delay: 0.2s;
}

@keyframes change {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}


@media(max-width: 725px) {
  .container {
    grid-template-columns: 46vw 46vw;
    grid-template-rows: 46vw 46vw 46vw;
  }
  .el_2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  
  .el_3 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .el_4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  
  .el_5 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  
  .el_6 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}

@media(max-width: 376px) {
  .container {
    grid-template-columns: 95vw;
    grid-template-rows: 95vw 95vw 95vw 95vw 95vw 95vw;
  }
  .el_2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .el_3 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  
  .el_4 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  
  .el_5 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  
  .el_6 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
}